db.sqlite3

# Image file
*.png
*.PNG
*.jpg
*.JPG
*.jpeg
*.JPEG
!ogimage.png
!maintenance.png
!fb.png
!weibo.png
!google.png
!wechat.png
!git.png
!youtube.png
!fm.png
!fm_2.png
!fm_3.png
!bg_kate.png
!bg_kate.jpg

# Compiled source code
freemarket/__pycache__/
mainApp/__pycache__/
mainApp/migrations/__pycache__/
mainApp/templatetags/__pycache__/

.idea/

# sensitive
freemarket/settings.py
freemarket/urls.py

# Created by collectstatic
static/
!mainApp/static/

# Migration history
mainApp/migrations/
!__init__.py
!0001_initial.py
!0002_item_time.py

