db.sqlite3

# Image file
*.png
*.jpg
*.jpeg

media/

# Compiled source code
freemarket/__pycache__/
listing/__pycache__/
#listing/migrations/__pycache__/

.idea/

# Created by collectstatic
static/

listing/migrations/
