{% extends 'listing/base.html' %}
{% block title %}Add a New Item{% endblock %}
{% block add_item_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

{#    <div style="height: 50px"></div>#}

    <div class="row">
        <div class="col-sm-12 col-md-2"></div>
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default" style="border-color: transparent;">
                <div class="panel-body">
{#                    <h3>Add a New Item</h3>#}
                    {% if error_message %}
                        <p align="center" style="color: red"><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <div style="height: 20px"></div>
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'listing/form_template.html' %}
                        <div class="form-group">
                            <div style="height: 300px"></div>
                            <div class="col-sm-offset-5 col-sm-7">
                                <button type="submit" class="btn btn-success">Add a New Item</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

{#        <div class="col-sm-12 col-md-5">#}
{#            <div class="panel panel-default">#}
{#                <div class="panel-body">#}
{#                    <h3>What is Viberr?</h3>#}
{#                    <p>Viberr is an app that allows you to upload and store all of your music on the cloud.</p>#}
{#                    <h3>How do I add music?</h3>#}
{#                    <p>First, create a new album by filling out the form on this page. Once an album is created you will be able to add/upload songs.</p>#}
{#                    <h3>What are some Album logo best practices?</h3>#}
{#                    <ul>#}
{#                        <li>Have a resolution of 512x512</li>#}
{#                        <li>Use common image formats such as .JPG, .GIF, or .PNG</li>#}
{#                        <li>Remain under the 2MB limit.</li>#}
{#                        <li>Square images look best</li>#}
{#                    </ul>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </div>

</div>
{% endblock %}
