<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    set the image displayed when sharing site link on social media#}
    <meta property="og:image" content="https://www.free-market.nl/media/ogimage.jpg">
{#    auto display adjustment based on device screen width#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    set web tab name#}
    <title>{% block title %}Free Market{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=satisfy' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'listing/style.css' %}"/>

{#    set favicon#}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>

{#    script for infinite scroll#}
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/infinite.min.js' %}"></script>

{#    for preload bar#}
    <script src="{% static 'js/pace.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'listing/preload.css' %}">

    <style>
{#    alert box style#}
    .alert {
        background-color: #f44336;
        color: white;
        border-radius: 0;
        opacity: 0.95;
        transition: opacity 2s;
    }

    .closebtn {
        margin-left: 15px;
        color: white;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 2s;
    }

    .closebtn:hover {
        color: #7d7d7d;
    }

{#    change textarea width#}
    textarea{
        width: 250px;
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse" style="margin-bottom: 0px">
        <div class="container-fluid">
{#            header#}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <strong>
                    <a class="navbar-brand" href="{% url 'listing:index' %}">Hi {{ user.username }} !</a>
                </strong>
            </div>

            <div class="collapse navbar-collapse" id="topNavBar">
{#                buttons on the left side#}
{#                <ul class="nav navbar-nav">#}
{#                    <li class="{% block items_active %}{% endblock %}">#}
{#                        <a href="{% url 'listing:index' %}">#}
{#                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;<strong>Items</strong>#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}

{#                search bar#}
                <form class="navbar-form navbar-left" role="search" method="get" action="{% url 'listing:index' %}">
                    <div class="form-group">
                        <input placeholder="type your city's name here" type="text" class="form-control" name="q" value="{{ request.GET.q }}" style="width: 280px">
                    </div>
                    <button type="submit" class="btn btn-default"><strong style="color: #9d9d9d">See Free Items in Your City</strong></button>
                </form>

{#                buttons on the right side#}
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% block items_active %}{% endblock %}">
                        <a href="{% url 'listing:index' %}">
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;<strong>Items Worldwide</strong>
                        </a>
                    </li>
                    <li class="{% block add_item_active %}{% endblock %}">
                        <a href="{% url 'listing:add_item' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;<strong>Add Item</strong>
                        </a>
                    </li>
                    <li class="{% block my_items_active %}{% endblock %}">
                        <a href="{% url 'listing:my_items' %}">
                            <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>&nbsp;<strong>My Items</strong>
                        </a>
                    </li>
                    <li class="{% block my_info_active %}{% endblock %}">
                        <a href="{% url 'listing:my_info' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;<strong>My Info</strong>
                        </a>
                    </li>
                    <li class="">
                        <a href="https://www.facebook.com/messages/t/freemarket.nl.2017" target="_blank">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>&nbsp;<strong>Contact us</strong>
                        </a>
                    </li>
                    <li class="">
                        <a href="{% url 'listing:logout_user' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;<strong>Log Out</strong>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

{#    script to change button transition duration#}
    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function(){
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function(){ div.style.display = "none"; }, 2000);
            }
        }
    </script>
</body>
</html>
