{% extends 'listing/base.html' %}
{% block items_active %}active{% endblock %}

{% block body %}
<div class="items-container container-fluid">

    <!-- Items -->
    <div class="row">
        {% if items %}
            {% for item in items reversed %}
                <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="{% url 'listing:detail' item.id %}">
                            <img src="{{ item.photo.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h3>{{ item.item_name }}</h3>
                            <h5>{{ item.city }}, {{ item.time }}</h5>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
            {% endfor %}
        {% endif %}
    </div>

</div>
{% endblock %}