{% extends 'listing/base_visitor.html' %}

{% block title %}LOGIN{% endblock %}

{% block login_active %}active{% endblock %}

{% block body %}
{#    alert box#}
    {% if error_message %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>{{ error_message }}</strong>
        </div>
    {% endif %}

    <div class="container-fluid">
        <div style="height: 80px"></div>
        <div class="row">
            <div class="col-sm-12 col-md-4"></div>

{#            login panel#}
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default" style="border-color: transparent; margin-bottom: 0px; box-shadow: none">
                    <div class="panel-body">
                        <div style="height: 20px"></div>
                        <form class="form-horizontal" role="form" action="{% url 'listing:login_user'%}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="id_username">
                                    Username:
                                </label>
                                <div class="col-sm-7">
                                    <input id="id_username" maxlength="30" name="username" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-5" for="id_password">
                                    Password:
                                </label>
                                <div class="col-sm-7">
                                    <input id="id_password" maxlength="30" name="password" type="password">
                                </div>
                            </div>
                            <div style="height: 20px"></div>
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-7">
                                    <button type="submit" class="btn btn-success">Log In</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

{#    terms and conditions box#}
    <div class="alert alert-bottom" style="margin-bottom: 0px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>By clicking the Log In button, we consider you accept our <a href="https://www.youtube.com/embed/AeToRwKLErY?rel=0&amp;autoplay=1" target="_blank">Terms and Conditions</a>.
                Do not have an account yet? <a href="{% url 'listing:register' %}">Click here</a> to register or log in with <a href="{% url 'social:begin' 'github' %}">GitHub</a> or
                <a href="{% url 'social:begin' 'facebook' %}">Facebook</a>.</strong>
        </div>
    </div>

{% endblock %}

