{% extends 'listing/base.html' %}
{% block title %}My Info{% endblock %}
{% block my_info_active %}active{% endblock %}

{% block body %}
<div class="container-fluid">

{#    <div style="height: 50px"></div>#}

    <div class="row">

        <div class="col-sm-12 col-md-3"></div>
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default" style="border-color: transparent;">
                <div class="panel-body">
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <div style="height: 20px"></div>
                    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'listing/form_template.html' %}
                        <div class="form-group">
                            <div style="height: 80px"></div>
                            <div class="col-sm-offset-5 col-sm-7">
                                <button type="submit" class="btn btn-success">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}