.navbar{
    border-radius: 0;
    background-color: chartreuse;
    border: chartreuse;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: chartreuse;
}



/*.navbar-brand{*/
    /*font-family: 'Satisfy', cursive;*/
/*}*/



