.navbar{
    border-radius: 0;
    background-color: chartreuse;
    border: chartreuse;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: chartreuse;
}



/*.navbar-brand{*/
    /*font-family: 'Satisfy', cursive;*/
/*}*/


.image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*.image img.portrait {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translateX(-50%) translateY(-50%);*/
/*}*/

/*.image img.landscape {*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*height: 100%;*/
    /*width: auto;*/
    /*transform: translate(-50%,-50%);*/
/*}*/
