{% extends 'mainApp/base_visitor.html' %}

{% block ogimage %}<meta property="og:image" content="{{ item.photo.url }}">{% endblock %}

{% block title %}About Free Market{% endblock %}

{% block body %}
    <div style="height: 20px"></div>

    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <h1 align="center" style="font-weight: bold">About Free Market</h1><br><br>
                <strong style="font-size: medium">&#8226 Free Market is an online platform where people could give out goods or offer services for free.</strong><br><br>
                <strong style="font-size: medium">&#8226 If you have goods that you will never use and you want to give them out for free then Free Market is gonna be the perfect place for you.</strong><br><br>
                <strong style="font-size: medium">&#8226 If you are looking for a second-hand market where everything is for free then Free Market is the perfect place for you too.</strong>
            </div>
        </div>
    </div>

{% endblock %}