{% extends 'mainApp/base.html' %}

{% block title %}Post Your Offer{% endblock %}

{% block add_item_active %}active{% endblock %}

{% block body %}
{#    alert box#}
    {% if error_message %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <strong>{{ error_message }}</strong>
        </div>
    {% else %}
        <div class="alert3">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <div align="center">
                  <strong>Please only post free offers.</strong>
          </div>
        </div>
    {% endif %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-2"></div>

{#            add item panel#}
            <div class="col-sm-12 col-md-8">
                <div class="panel panel-default" style="border-color: transparent;">
                    <div class="panel-body">
                        <div style="height: 20px"></div>
                        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'mainApp/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-5 col-sm-7" style="padding-top: 20px">
                                    <button type="submit" class="btn btn-success"><strong>Post Your</strong> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
                                </div>
                                <div style="height: 200px"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
