{% extends 'mainApp/base_visitor.html' %}

{% block ogimage %}<meta property="og:image" content="{{ item.photo.url }}">{% endblock %}

{% block title %}
    {{ item.item_name }}
{% endblock %}


{% block body %}

    <div style="height: 10px"></div>
{#    item#}
    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding:0px;">
                        <a>
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" class="img-responsive center" style="border-top-left-radius: 3px; border-top-right-radius: 3px">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                        <h2 style="padding-left:10px; padding-right:10px; overflow: hidden; color: #336600">{{ item.item_name }} <small style="color: #336600; opacity: 0.5">{{ item.city }}</small></h2>
                        <pre style="font: -webkit-control; font-size: 14px; padding-left:10px; padding-right:5px; line-height: 20px; color: #336600;">{{ item.description }}</pre>
                        <h5 style="padding-left:10px; overflow: hidden; color: #336600"><strong>Contact: </strong><a href="{% url 'mainApp:login' %}">Log in</a> to see the contact info.</h5>
                        <div style="height: 10px"></div>
                        <div style="padding-left: 10px" class="fb-share-button" data-href="https://www.free-market.nl/{{ item.id }}/detail/" data-layout="button" data-size="small" data-mobile-iframe="true">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.free-market.nl%2F{{ item.id }}%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                Share
                            </a>
                        </div>
                        <div style="height: 10px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 200px"></div>

    <div class="alert2 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
{#        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
        <div align="center">
            <strong><a href="{% url 'mainApp:login' %}">Log in</a> to see who offered this.</strong>
        </div>
    </div>

{% endblock %}