{% extends 'mainApp/base.html' %}

{% block ogimage %}<meta property="og:image" content="{{ item.photo.url }}">{% endblock %}

{% load url_target_blank %}

{% block title %}
    {{ item.item_name }}
{% endblock %}


{% block body %}

    <div style="height: 10px"></div>
{#    item#}
    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <div class="panel panel-default" style="border: none">
                    <div class="panel-body" style="padding:0px">
{#                            <h3 style="color: #72ce10; font-weight: bold" align="center">Reserved</h3>#}
{#                            <img src="https://www.free-market.nl/static/reserved.png" class="img-responsive right" style="width: 150px">#}
{#                            <div style="height: 10px"></div>#}
                        {% if not item.availability %}
                            <div style="display: flex; justify-content: center">
                                {% if request.user_agent.is_mobile %}
                                    <img id="anglerandom" src="https://www.free-market.nl/static/reserved_2.png" style="position: absolute; top: 150px; width: 300px; z-index: 2"/>
                                {% else %}
                                    <img id="anglerandom" src="https://www.free-market.nl/static/reserved_2.png" style="position: absolute; top: 250px; width: 500px; z-index: 2"/>
                                {% endif %}
                            </div>
                        {% endif %}
                        <a>
                            {% if item.photo %}
                                {% if item.availability %}
                                    <img src="{{ item.photo.url }}" class="img-responsive center" style="border-top-left-radius: 3px; border-top-right-radius: 3px">
                                {% else %}
                                    <img src="{{ item.photo.url }}" class="img-responsive center" style="border-top-left-radius: 3px; border-top-right-radius: 3px; opacity: 0.3;z-index: 1">
                                {% endif %}
                            {% endif %}
                        </a>
                        <a>
                            {% if item.another_photo %}
                                <div style="height: 5px"></div>
                                {% if item.availability %}
                                    <img src="{{ item.another_photo.url }}" class="img-responsive center">
                                {% else %}
                                    <img src="{{ item.another_photo.url }}" class="img-responsive center" style="opacity: 0.3; z-index: 1">
                                {% endif %}
                            {% endif %}
                        </a>
                        <a>
                            {% if item.and_another_photo %}
                                <div style="height: 5px"></div>
                                {% if item.availability %}
                                    <img src="{{ item.and_another_photo.url }}" class="img-responsive center">
                                {% else %}
                                    <img src="{{ item.and_another_photo.url }}" class="img-responsive center" style="opacity: 0.3; z-index: 1">
                                {% endif %}
                            {% endif %}
                        </a>
                        <div>
{#                        <div style="border-left: 2px solid #72ce10; border-right: 2px solid #72ce10; border-bottom: 2px solid #72ce10;#}
{#                        border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding-top: 1px">#}
                            {% if request.user_agent.is_mobile %}
                                <h2 style="padding-left:10px; padding-right:10px; overflow: hidden; margin-bottom:0px; margin-top: 10px; color: #72ce10; font-weight: bold">{{ item.item_name }}</h2>
                                <h4 style="padding-left:10px; padding-right:10px; overflow: hidden; margin-top:0px; margin-bottom: 5px; color: #72ce10; opacity: 0.5">{{ item.city }}, {{item.time}}</h4>
                            {% else %}
                                <h2 style="padding-left:10px; padding-right:10px; padding-bottom: 3px; overflow: hidden; margin-bottom:0px; margin-top: 10px; color: #72ce10; font-family: 'Arial Black'">{{ item.item_name }}</h2>
                                <h4 style="padding-left:10px; padding-right:10px; padding-bottom: 2px; overflow: hidden; margin-top:0px; font-family: 'Arial Narrow'; margin-bottom: 5px; color: #72ce10; opacity: 0.5">{{ item.city }}, {{item.time}}</h4>
                            {% endif %}
                            <pre style="font: -webkit-control; font-size: 14px; padding-left:10px; padding-right:5px; line-height: 20px; color: #72ce10">{{ item.description|urlize|url_target_blank }}</pre>
                            {% if 'https://m.me/' in item.contact_info or 'https://wa.me/' in item.contact_info %}
                                <form>
                                    <input class="btn btn-success" style="font-weight: bold; height: 30px; padding: 0px; padding-left: 10px; padding-right: 10px; border-radius: 5px; margin-left: 10px"
                                                           type="button"
                                                           value="Message Offeror"
                                                           onclick="window.open('{{ item.contact_info }}','url_target_blank')" />
                                </form>
                            {% else %}
                                <h5 style="padding-left:10px; overflow: hidden; color: #72ce10"><strong style="color: #72ce10">Offeror's Contact: </strong>{{ item.contact_info|urlize|url_target_blank }}</h5>
                            {% endif %}
                            <div style="height: 10px"></div>
                        </div>
{#                        <div style="padding-left: 10px" class="fb-share-button" data-href="https://www.free-market.nl/{{ item.id }}/detail/" data-layout="button" data-size="small" data-mobile-iframe="true">#}
{#                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.free-market.nl%2F{{ item.id }}%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">#}
{#                                Share#}
{#                            </a>#}
{#                        </div>#}
{#                        <div style="height: 10px"></div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px"></div>

    <div class="alert6 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
{#        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
        <div align="center">
            <strong>Please let us know if you see any buy and sell post, we will kindly ask the person to post it elsewhere.</strong>
        </div>
    </div>

    <script>
        var anglerandom = document.querySelector('#anglerandom');
        anglerandom.style.transform = "rotate(" + Math.floor(Math.random() * 10 - 4) * 5 + "deg)";
    </script>

{% endblock %}