{% extends 'mainApp/base_visitor.html' %}

{% block ogimage %}<meta property="og:image" content="{{ item.photo.url }}">{% endblock %}

{% block title %}
    {{ item.item_name }}
{% endblock %}


{% block body %}

    <div style="height: 10px"></div>
{#    item#}
    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <div class="panel panel-default" style="border: none">
                    <div class="panel-body" style="padding:0px">
                        <a>
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" class="img-responsive center" style="border-top-left-radius: 3px; border-top-right-radius: 3px">
                            {% endif %}
                        </a>
                        <a>
                            {% if item.another_photo %}
                                <div style="height: 5px"></div>
                                <img src="{{ item.another_photo.url }}" class="img-responsive center">
                            {% endif %}
                        </a>
                        <a>
                            {% if item.and_another_photo %}
                                <div style="height: 5px"></div>
                                <img src="{{ item.and_another_photo.url }}" class="img-responsive center">
                            {% endif %}
                        </a>
                        <div>
{#                        <div style="border-left: 2px solid #72ce10; border-right: 2px solid #72ce10; border-bottom: 2px solid #72ce10;#}
{#                        border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding-top: 1px">#}
                            {% if request.user_agent.is_mobile %}
                                <h2 style="padding-left:10px; padding-right:10px; overflow: hidden; color: #72ce10; font-weight: bold; margin-top: 10px">{{ item.item_name }} <small style="color: #72ce10; opacity: 0.5">{{ item.city }}</small></h2>
                            {% else %}
                                <h2 style="padding-left:10px; padding-right:10px; padding-bottom: 3px; overflow: hidden; color: #72ce10; font-family: 'Arial Black'; margin-top: 10px">{{ item.item_name }} <small style="color: #72ce10; opacity: 0.5">{{ item.city }}</small></h2>
                            {% endif %}
                            <pre style="font: -webkit-control; font-size: 14px; padding-left:10px; padding-right:5px; line-height: 20px; color: #72ce10;">{{ item.description }}</pre>
                            <h5 style="padding-left:10px; overflow: hidden; color: #72ce10"><strong><a href="{% url 'mainApp:login' %}" style="text-decoration: none">Log in</a> to see who is giving this out for free</strong></h5>
                            <div style="height: 10px"></div>
                            <div style="padding-left: 10px" class="fb-share-button" data-href="https://www.free-market.nl/{{ item.id }}/detail/" data-layout="button" data-size="small" data-mobile-iframe="true">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.free-market.nl%2F{{ item.id }}%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                    Share
                                </a>
                            </div>
                            <div style="height: 10px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 50px"></div>

{#    <div class="alert2 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">#}
{#        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>#}
{#        <div align="center">#}
{#            <strong><a href="{% url 'mainApp:login' %}" style="text-decoration: none">Log in</a> to see who offered this.</strong>#}
{#        </div>#}
{#    </div>#}

{% endblock %}