{% extends 'mainApp/base.html' %}

{% block ogimage %}<meta property="og:image" content="{{ item.photo.url }}">{% endblock %}

{% load url_target_blank %}

{% block title %}
    {{ item.item_name }}
{% endblock %}


{% block body %}

    <div style="height: 10px"></div>
{#    item#}
    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding:0px;">
                        {% if not item.availability %}
                            <h3 style="color: #72ce10; font-weight: bold" align="center">R e s e r v e d</h3>
                            <div style="height: 10px"></div>
                        {% endif %}
                        <a>
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" class="img-responsive center" style="border-top-left-radius: 3px; border-top-right-radius: 3px">
                            {% endif %}
                        </a>
                        <a>
                            {% if item.another_photo %}
                                <div style="height: 5px"></div>
                                <img src="{{ item.another_photo.url }}" class="img-responsive center">
                            {% endif %}
                        </a>
                        <a>
                            {% if item.and_another_photo %}
                                <div style="height: 5px"></div>
                                <img src="{{ item.and_another_photo.url }}" class="img-responsive center">
                            {% endif %}
                        </a>
                        <h2 style="padding-left:10px; padding-right:10px; overflow: hidden; margin-bottom:0px; color: #336600">{{ item.item_name }}</h2>
                        <h2 style="padding-left:10px; padding-right:10px; overflow: hidden; margin-top:0px"><small style="color: #336600; opacity: 0.5">{{ item.city }}, {{item.time}}</small></h2>
                        <pre style="font: -webkit-control; font-size: 14px; padding-left:10px; padding-right:5px; line-height: 20px; color: #336600">{{ item.description|urlize|url_target_blank }}</pre>
                        <h5 style="padding-left:10px; overflow: hidden"><strong style="color: #336600">Contact: </strong>{{ item.contact_info|urlize|url_target_blank }}</h5>
                        <div style="height: 10px"></div>
                        <div style="padding-left: 10px" class="fb-share-button" data-href="https://www.free-market.nl/{{ item.id }}/detail/" data-layout="button" data-size="small" data-mobile-iframe="true">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.free-market.nl%2F{{ item.id }}%2Fdetail%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">
                                Share
                            </a>
                        </div>
                        <div style="height: 10px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="height: 200px"></div>

    <div class="alert2 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>Please let us know if you see any buy and sell post, we will remove that, appreciated!</strong>
        </div>
    </div>

{% endblock %}