{% extends 'mainApp/base.html' %}

{% block ogimage %}<meta property="og:image" content="{{ item.photo.url }}">{% endblock %}

{% load url_target_blank %}

{% block title %}
    {{ item.item_name }}
{% endblock %}


{% block body %}
    <div class="alert3">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <div align="center">
              <strong>Please let us know if you see any buy and sell post, appreciated!</strong>
      </div>
    </div>

    <div style="height: 10px"></div>
{#    item#}
    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <div class="panel panel-default">
                    <div class="panel-body" style="padding:0px;">
                        <a>
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" class="img-responsive center">
                            {% else %}
                                <h3>No image to display</h3>
                            {% endif %}
                        </a>
                        <h2 style="padding-left:10px; padding-right:10px; overflow: hidden">{{ item.item_name }} <small>{{ item.city }}</small></h2>
                        <h4 style="padding-left:10px; padding-right:5px; overflow: hidden">{{ item.description }}</h4>
                        <h5 style="padding-left:10px; overflow: hidden">Contact: {{ item.contact_info|urlize|url_target_blank }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}