{% extends base_template_name %}

{% block title %}Support Free Market{% endblock %}

{% block body %}
    <div style="height: 20px"></div>

    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <h1 align="center" style="font-weight: bold"></h1><br><br>
                <strong style="font-size: medium"></strong><br><br>
                <strong style="font-size: medium"></strong>
            </div>
        </div>
    </div>

{% endblock %}
