{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
{#    modify the style of photo uploading field#}
    {% if field.label == "Photo" %}
        <div class="form-group" style="color: #336600">
            {% if not field.value %}
                <label style="color: #336600">Photo</label>
                <input type="file" name="photo" id="id_photo">
                {% for error in field.errors %}
                  <span class="help-block" style="color: #f44336; opacity: 0.95; font-weight: bold">{{ error }}</span>
                {% endfor %}
            {% else %}
                <label style="color: #336600">Photo</label><br>Currently:<br>
                <a href="/media/{{ field.value }}" style="overflow-wrap: break-word;">{{ field.value }}</a><br>
                Replace the current photo:<input type="file" name="photo" id="id_photo">
                {% for error in field.errors %}
                  <span class="help-block" style="color: #f44336; opacity: 0.95; font-weight: bold">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}" style="color: #336600">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}
            {% for error in field.errors %}
              <span class="help-block" style="color: #f44336; opacity: 0.95; font-weight: bold">{{ error }}</span>
            {% endfor %}
        </div>
    {% endif %}
{% endfor %}
