{% load widget_tweaks %}

{% for hidden in form.hidden_fields %}
    {{ hidden }}
{% endfor %}

{% for field in form.visible_fields %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}" style="color: #336600">{{ field.label }}</label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
          <span class="help-block" style="color: #f44336; opacity: 0.95; font-weight: bold">{{ error }}</span>
        {% endfor %}
    </div>
{% endfor %}
