{% extends 'mainApp/base.html' %}

{% block ogdescription %}<meta property="og:description" content="where people give out stuff to the others in the same city for free.">{% endblock %}

{% block items_active %}active{% endblock %}

{% block body %}
    {% if not items %}
        <div class="alert3">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <div align="center">
              <strong>At the moment, there are no items offered from {{ request.GET.q }}.</strong>
          </div>
        </div>
    {% endif %}

    <div style="padding-left: 10px;padding-right: 10px;padding-top: 5px;padding-bottom: 5px;text-align: center">
{#        <strong style="color: #336600">Most Listed Cities: </strong>#}
        <a href="https://www.free-market.nl/?q=amsterdam" style="text-decoration: none">Amsterdam</a> <a style="color: #336600">|</a>
{#                <a href="https://www.free-market.nl/?q=berlin">Berlin</a> <a>|</a>#}
{#                <a href="https://www.free-market.nl/?q=copenhagen">Copenhagen</a> <a>|</a>#}
        <a href="https://www.free-market.nl/?q=delft" style="text-decoration: none">Delft</a> <a style="color: #336600">|</a>
        <a href="https://www.free-market.nl/?q=den+haag" style="text-decoration: none">Den Haag</a> <a style="color: #336600">|</a>
        <a href="https://www.free-market.nl/?q=eindhoven" style="text-decoration: none">Eindhoven</a> <a style="color: #336600">|</a>
        <a href="https://www.free-market.nl/?q=groningen" style="text-decoration: none">Groningen</a> <a style="color: #336600">|</a>
        <a href="https://www.free-market.nl/?q=leiden" style="text-decoration: none">Leiden</a> <a style="color: #336600">|</a>
        <a href="https://www.free-market.nl/?q=maastricht" style="text-decoration: none">Maastricht</a> <a style="color: #336600">|</a>
        <a href="https://www.free-market.nl/?q=rotterdam" style="text-decoration: none">Rotterdam</a> <a style="color: #336600">|</a>
        <a href="https://www.free-market.nl/?q=utrecht" style="text-decoration: none">Utrecht</a>
    </div>

    {% if not items %}
        <div style="height: 700px"></div>
    {% endif %}

{#    items#}
    <div class="infinite-container container-fluid" style="padding-left: 0px;padding-right: 0px">
{#        <div class="row">#}
            {% if items %}
                {% for item in items %}
                    <div class="col-sm-6 col-md-4 col-lg-3 infinite-item" style="padding-left: 5px;padding-right: 5px">
                        <div class="thumbnail" style="padding: 0px;margin-bottom: 10px; border: 0px">
                            {% if item.availability %}
                                <div class="image">
                            {% else %}
                                <div class="image" style="opacity: 0.3">
                            {% endif %}
                                <a href="{% url 'mainApp:detail' item.id %}">
                                    {% if item.photo_width > item.photo_height %}
                                        <img src="{{ item.photo.url }}" class="img-responsive landscape">
                                    {% else %}
                                        <img src="{{ item.photo.url }}" class="img-responsive portrait">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption" style="padding-bottom: 0px;padding-top: 1px;
                            border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid; border-color: #72ce10;
                            border-bottom-left-radius: 5px; border-bottom-right-radius: 5px">
                                <h5>
                                    {% if request.user_agent.is_mobile %}
                                        <span class="makeleft" style="color: #72ce10"><strong>{{ item.item_name }}</strong></span>
                                    {% else %}
                                        <span class="makeleft" style="color: #72ce10; font-family: 'Arial Black'">{{ item.item_name }}</span>
                                    {% endif %}
                                    <span class="makeright">
                                        <form>
                                            <input class="btn btn-success" style="font-weight: bold; height: 30px; padding: 0px;
                                            padding-left: 10px; padding-right: 10px; border-radius: 5px; margin-top: 5px;"
                                                   type="button"
                                                   value="See Details"
                                                   onclick="window.location.href='{% url 'mainApp:detail' item.id %}'" />
                                        </form>
                                    </span>
                                </h5><br>
                                <h5 style="color: #72ce10; margin-top: 0px">{{ item.city }}, {{ item.time }}</h5>
                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}

                {% if ad %}
                    <div class="col-sm-6 col-md-4 col-lg-3 infinite-item" style="padding-left: 5px;padding-right: 5px">
                        <div class="thumbnail" style="padding: 0px;margin-bottom: 10px; border-top-right-radius: 0px; border-top-left-radius: 0px">
                            <div class="image">
                                <a href="{{ ad.url }}" target="_blank">
                                    <img src="{{ ad.photo.url }}" class="img-responsive landscape">
                                </a>
                            </div>
                            <div class="caption" style="padding-bottom: 0px;padding-top: 0px">
                                <h5>
                                    <span class="makeleft" style="color: #336600"><big><strong>{{ ad.title }}</strong></big></span>
                                    <span class="makeright">
                                        <form>
                                            <input class="btn btn-success" style="font-weight: bold; height: 40px; padding: 0px; padding-left: 10px; padding-right: 10px; border-radius: 10px"
                                                   type="button"
                                                   value="See Details"
                                                   onclick="window.location.href='{{ ad.url }}'" />
                                        </form>
                                    </span>
                                </h5><br>
                                <h5 style="color: #336600; margin-top: 5px">Sponsored</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}

            {% endif %}
{#        </div>#}
    </div>

{#    load more#}
    {% if items.has_next %}
        <a class="infinite-more-link" href="?q={{ request.GET.q }}&page={{ items.next_page_number }}"></a>
    {% endif %}

{#    script for infinite scroll#}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
        });
    </script>

    <div style="height: 50px"></div>

    <div class="alert5 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>Please let us know if you have any suggestions so that we could improve this website and make it simpler, faster and smarter.</strong>
        </div>
    </div>

{% endblock %}
