{% extends 'mainApp/base.html' %}

{% block ogdescription %}<meta property="og:description" content="where people give out stuff to the others in the same city for free.">{% endblock %}

{% block items_active %}active{% endblock %}

{% block body %}
    {% if not items %}
        <div class="alert3">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <div align="center">
              <strong>At the moment, there are no items offered from {{ request.GET.q }}.</strong>
          </div>
        </div>
        <div style="height: 700px"></div>
    {% endif %}

    <div style="height: 10px"></div>

{#    items#}
    <div class="infinite-container container-fluid" style="padding-left: 0px;padding-right: 0px">
{#        <div class="row">#}
            {% if items %}
                {% for item in items %}
                    <div class="col-sm-6 col-md-4 col-lg-3 infinite-item" style="padding-left: 5px;padding-right: 5px">
                        <div class="thumbnail" style="padding: 0px;margin-bottom: 10px">
                            {% if item.availability %}
                                <div class="image">
                            {% else %}
                                <div class="image" style="opacity: 0.3">
                            {% endif %}
                                <a href="{% url 'mainApp:detail' item.id %}">
                                    {% if item.photo_width > item.photo_height %}
                                        <img src="{{ item.photo.url }}" class="img-responsive landscape">
                                    {% else %}
                                        <img src="{{ item.photo.url }}" class="img-responsive portrait">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption" style="padding-bottom: 0px;padding-top: 0px">
                                <h5>
                                    <span class="makeleft"><big><strong>{{ item.item_name }}</strong></big></span>
                                    <span class="makeright"><a href="{% url 'mainApp:detail' item.id %}">See Details</a></span>
                                </h5><br>
                                <h5>{{ item.city }}, {{ item.time }}</h5>
                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}

                <div class="col-sm-6 col-md-4 col-lg-3 infinite-item" style="padding-left: 5px;padding-right: 5px">
                    <div class="thumbnail" style="padding: 0px;margin-bottom: 10px">
                        <div class="image">
                            <a href="https://donorbox.org/free-market" target="_blank">
                                <img src="https://www.free-market.nl/static/ogimage.png" class="img-responsive landscape">
                            </a>
                        </div>
                        <div class="caption" style="padding-bottom: 0px;padding-top: 0px">
                            <h5>
                                <span class="makeleft"><big><strong>Donate to support us</strong></big></span>
                                <span class="makeright"><a href="https://donorbox.org/free-market" target="_blank">See Details</a></span>
                            </h5><br>
                            <h5>Team Free Market</h5>
                        </div>
                    </div>
                </div>

            {% endif %}
{#        </div>#}
    </div>

{#    load more#}
    {% if items.has_next %}
        <a class="infinite-more-link" href="?q={{ request.GET.q }}&page={{ items.next_page_number }}"></a>
    {% endif %}

{#    script for infinite scroll#}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
        });
    </script>

    <div style="height: 50px"></div>

    <div class="alert2 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>Please let us know if you have any suggestions so that we could improve this website and make it simpler, faster and smarter.</strong>
        </div>
    </div>

{% endblock %}
