{% extends 'mainApp/base.html' %}

{% block items_active %}active{% endblock %}

{% block body %}
    <div class="alert3">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <div align="center">
        <strong>Please only post free offers.</strong>
      </div>
    </div>

    <div style="height: 10px"></div>

{#    items#}
    <div class="infinite-container container-fluid">
        <div class="row">
            {% if items %}
                {% for item in items %}
                    <div class="col-sm-4 col-lg-2 infinite-item" style="padding-left: 5px;padding-right: 5px">
                        <div class="thumbnail" style="padding: 0px;margin-bottom: 10px">
                            <div class="image">
                                <a href="{% url 'mainApp:detail' item.id %}">
                                    {% if item.photo_width > item.photo_height %}
                                        <img src="{{ item.photo.url }}" class="img-responsive landscape">
                                    {% else %}
                                        <img src="{{ item.photo.url }}" class="img-responsive portrait">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption" style="padding-bottom: 0px;padding-top: 0px">
                                <h3>{{ item.item_name }}</h3>
                                <h5>{{ item.city }}, {{ item.time }}</h5>
                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            {% endif %}
        </div>
    </div>

{#    load more#}
    {% if items.has_next %}
        <a class="infinite-more-link" href="?page={{ items.next_page_number }}"></a>
    {% endif %}

{#    script for infinite scroll#}
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0]
        });
    </script>

{% endblock %}
