{% extends 'mainApp/base_visitor.html' %}

{% block title %}LOGIN{% endblock %}

{% block login_active %}active{% endblock %}

{% block body %}
    <div class="alert3">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <div align="center">
              <strong>Please choose your login method below. Meanwhile we are trying to make Facebook login available again asap.</strong>
      </div>
    </div>

    <div style="height: 50px"></div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-sm-6 col-md-3 col-lg-2" style="padding: 0px">
                <div class="panel panel-default" style="border-color: transparent; margin-bottom: 0px; box-shadow: none">
                    <div class="panel-body" style="padding: 30px">
                        <div class="container">
{#                            <a href="{% url 'social:begin' 'facebook' %}">#}
                            <a href="">
                                <img src="https://www.free-market.nl/static/social_icons/fb.png" class="socialimage">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-2" style="padding: 0px">
                <div class="panel panel-default" style="border-color: transparent; margin-bottom: 0px; box-shadow: none">
                    <div class="panel-body" style="padding: 30px">
                        <div class="container">
                            <a href="{% url 'social:begin' 'google-oauth2' %}">
                                <img src="https://www.free-market.nl/static/social_icons/google.png" class="socialimage">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-2" style="padding: 0px">
                <div class="panel panel-default" style="border-color: transparent; margin-bottom: 0px; box-shadow: none">
                    <div class="panel-body" style="padding: 30px">
                        <div class="container">
                            <a href="{% url 'mainApp:login_user' %}">
                                <img src="https://www.free-market.nl/static/social_icons/fm.png" class="socialimage">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

{#            <div class="col-sm-6 col-md-3 col-lg-2" style="padding: 0px">#}
{#                <div class="panel panel-default" style="border-color: transparent; margin-bottom: 0px; box-shadow: none">#}
{#                    <div class="panel-body" style="padding: 30px">#}
{#                        <div class="container">#}
{#                            <a href="{% url 'social:begin' 'weibo' %}">#}
{#                                <img src="https://www.free-market.nl/static/social_icons/weibo.png" class="socialimage">#}
{#                                <div class="overlay"></div>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

            <div class="col-sm-6 col-md-3 col-lg-2" style="padding: 0px">
                <div class="panel panel-default" style="border-color: transparent; margin-bottom: 0px; box-shadow: none">
                    <div class="panel-body" style="padding: 30px">
                        <div class="container">
                            <a href="{% url 'social:begin' 'github' %}">
                                <img src="https://www.free-market.nl/static/social_icons/git.png" class="socialimage">
                                <div class="overlay"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div style="height: 100px"></div>

{#    terms and conditions box#}
    <div class="alert2 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>By using this site you agree to our <a href="{% url 'mainApp:terms' %}" target="_blank">Terms and Conditions</a>.</strong>
        </div>
    </div>

{% endblock %}