{% extends 'mainApp/base_visitor.html' %}

{% block title %}LOGIN{% endblock %}

{% block login_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-4"></div>

{#            login panel#}
            <div class="col-sm-12 col-md-4">
                <div class="panel panel-default" style="border-color: transparent; margin-bottom: 0px; box-shadow: none">
                    <div class="panel-body" style="padding: 50px">
                        <div style="height: 20px"></div>




                        <div class="container">
                            <a href="https://www.facebook.com/100005543231545">
                                <img src="https://www.free-market.nl/static/maintenance.png" class="socialimage">
                                <div class="overlay"></div>
                            </a>
                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>

{#    terms and conditions box#}
    <div class="alert2 alert-bottom" style="margin-bottom: 0px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>By using this site you agree to our <a href="https://www.youtube.com/embed/AeToRwKLErY?rel=0&amp;autoplay=1" target="_blank">Terms and Conditions</a>.
{#                (<a href="https://player.youku.com/embed/XMzY1Mzg4NjU5Ng==?rel=0&amp;autoplay=1&mute=1" target="_blank">中国大陆</a>).#}
                Do not have an account yet? <a href="{% url 'mainApp:register' %}">Click here</a> to register or log in with
{#                <a href="{% url 'social:begin' 'github' %}">GitHub</a>,#}
                <a href="{% url 'social:begin' 'facebook' %}">Facebook</a> or
                <a href="{% url 'social:begin' 'google-oauth2' %}">Google</a>
{#                <a href="{% url 'social:begin' 'weibo' %}">Weibo</a>#}
                account.</strong>
        </div>
    </div>

{% endblock %}

