<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    set the image displayed when sharing site link on social media#}
    <meta property="og:image" content="https://www.free-market.nl/static/ogimage.jpg">
{#    auto display adjustment based on device screen width#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{#    set web tab name#}
    <title>Revive soon!</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainApp/style.css' %}"/>

{#    set favicon#}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>

{#    for preload bar#}
    <script src="{% static 'js/pace.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'mainApp/preload.css' %}">

</head>
<body>
    <div style="height: 100px"></div>
    <div class="container-fluid items-container">
{#        maintenance info#}
        <div class="row">
            <div class="col-sm-3 col-md-4"></div>
            <div class="col-sm-6 col-md-4">
                <img src="https://www.free-market.nl/static/maintenance.png" class="center">
                <h3 style="font-weight: bold" align="center">Sorry, we're down for maintenance.</h3>
            </div>
        </div>
    </div>

</body>
</html>
