{% extends 'mainApp/base.html' %}

{% block title %}My Info{% endblock %}

{% block my_info_active %}active{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-3"></div>

{#            update info panel#}
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-default" style="border-color: transparent;">
                    <div class="panel-body">
                        {% if error_message %}
                            <p align="center" style="color: red"><strong>{{ error_message }}</strong></p>
                        {% endif %}
                        <div style="height: 20px"></div>
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'mainApp/form_template.html' %}
                            <div class="form-group">
                                <div style="padding-top: 20px" align="center">
                                    <button type="submit" class="btn btn-success" style="width: 300px"><strong>Update</strong></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}