{% extends 'mainApp/base.html' %}

{% block title %}My Items{% endblock %}

{% block my_items_active %}active{% endblock %}

{% block body %}

{#    items#}
    <div class="items-container container-fluid">
        <div class="row">
            {% if items %}
                <div style="height: 10px"></div>
                {% for item in items reversed %}
                    <div class="col-sm-4 col-lg-2" style="padding-left: 5px;padding-right: 5px">
                        <div class="thumbnail" style="padding:0px;margin-bottom: 10px">
                            {% if item.availability %}
                                <div class="image">
                            {% else %}
                                <div class="image" style="opacity: 0.3">
                            {% endif %}
                                <a href="{% url 'mainApp:detail' item.id %}">
                                    {% if item.photo_width > item.photo_height %}
                                        <img src="{{ item.photo.url }}" class="img-responsive landscape">
                                    {% else %}
                                        <img src="{{ item.photo.url }}" class="img-responsive portrait">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="caption" style="padding-top: 0px">
                                <h3>{{ item.item_name }}<br><small>{{ item.city }}</small></h3>

{#                                item update button#}
                                <a href="{% url 'mainApp:update_item' item.id %}" class="btn btn-default btn-sm" role="button">Update</a>

                                {% if item.availability %}
                                    <a href="{% url 'mainApp:item_unavailable' item.id %}" class="btn btn-default btn-sm" role="button">Mark Unavailable</a>
                                {% else %}
                                    <a href="{% url 'mainApp:item_available' item.id %}" class="btn btn-default btn-sm" role="button">Mark Available</a>
                                {% endif %}

{#                                item delete button#}
                                <form action="{% url 'mainApp:delete_item' item.id %}" method="post" style="display: inline;">
                                    {% csrf_token %}
                                    <input type="hidden" name="item_id" value="{{ item.id }}" />
                                    <button type="submit" class="btn btn-default btn-sm">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                    {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
                {% endfor %}
            {% else %}
                <div class="alert3">
                  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                  <div align="center">
                    <strong>At the moment, you do not have any listed item.</strong>
                  </div>
                </div>
            {% endif %}
        </div>
    </div>

    <div style="height: 50px"></div>

    <div class="alert2 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>After giving out your item, please do not forget to remove your post (take your contact info offline) or mark it as unavailable.</strong>
        </div>
    </div>

{% endblock %}
