{% extends base_template_name %}

{% block title %}Terms and Conditions{% endblock %}

{% block body %}
    <div style="height: 20px"></div>

    <div class="container-fluid items-container">
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="padding-left: 5px;padding-right: 5px">
                <h1 align="center" style="font-weight: bold">Terms and Conditions</h1><br><br>
                <strong style="font-size: medium">&#8226 We are not responsible for the posts from users who give out illegal objects, such as drugs, guns, tanks or stolen stuff.</strong><br><br>
                <strong style="font-size: medium">&#8226 We reserve the rights to remove any post that contains improper content.</strong><br><br>
                <strong style="font-size: medium">&#8226 If we find out that you are selling the stuff you took from other Free Market user(s), we reserve the rights to block or delete your account.</strong><br><br>
                <strong style="font-size: medium">&#8226 We strictly control the quality of all the sponsored posts but we are not responsible for any consequence caused or promised by any sponsored post.</strong><br><br>
                <strong style="font-size: medium">&#8226 We only use user info for account administration purposes and Google Analytics.</strong><br><br>
                <strong style="font-size: medium">&#8226 Our website uses cookies, by continuing browsing our website, you agree to our use of cookies.</strong>
            </div>
        </div>
    </div>

    <div style="height: 300px"></div>

    {#    terms and conditions box#}
    <div class="alert2 alert-bottom" style="margin-bottom: 0px; padding-top: 5px; padding-bottom: 5px">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <div align="center">
            <strong>Team Free Market, July 1, 2018.</strong>
        </div>
    </div>

{% endblock %}