/* change navbar background color-style */
.navbar{
    border-radius: 0;
    background-color: chartreuse;
    border: chartreuse;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: chartreuse;
}


/* change navbar toggle button color-style */
.navbar-inverse .navbar-toggle {
    border-color: chartreuse;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: chartreuse;
    border-color: white;
}


/* change navbar line color-style */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: white;
}


/* modify navbar dropdown menu style */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: chartreuse;
}

.dropdown-menu {
    background-color: white;
    border: 0px;
    min-width: 141px;
    border-radius: 10px;
}

.dropdown-menu>li>a {
    color: #9d9d9d;
    padding: 5px 30px;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: white;
    color: chartreuse;
}


/* resize and crop thumbnail image */
.image {
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.image img.portrait {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.image img.landscape {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
}


/* center and resize detail page image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/* button color-style */
.btn {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 2s;
}

.btn-success {
    color: white;
    background-color: chartreuse;
    border-color: chartreuse;
}

.btn-success:hover {
    color: white;
    background-color: chartreuse;
    border-color: chartreuse;
}

.btn-success:focus {
    color: white;
    background-color: chartreuse;
    border-color: chartreuse;
}


/*locate alert box at the bottom of a page*/
.alert-bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}


/*navbar style when collapsed*/
@media (max-width: 1490px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
        padding-bottom: 20px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .navbar-inverse .navbar-brand {
        color: white;
    }

    .navbar-form {
        padding-top: 20px;
    }

    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        background-color: chartreuse;
        color: white;
    }
}

